.img{
    display: flex;
    width: 795px;
    height: 460px;
    
    background-image: url('../Untitled.jpg');
    border: 4px solid rgb(248, 244, 243);
    border-radius: 20px;
}

.Main{
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.button{
    border: 2px solid blue;
    background-color: lightblue;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}
button:hover{
    cursor: pointer;
}
.img canvas{
    border-radius: 50px;
}