canvas{

  position: absolute;
}
.choose{
  border: 2px solid blue;
  background-color: lightblue;
  font-weight: bold;
  margin: auto;
  border-radius: 5px;

}
.main-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

