canvas{

  position: absolute;
}
.choose{
  border: 2px solid rgb(241, 241, 247);
  background-color: lightblue;
  font-weight: bold;
  margin: auto;
  border-radius: 5px;

}
input{
  width:18vw;
  display: flex;
  flex-direction: row;
}



